{%load static %}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:lightskyblue" role="navigation">
    <div class="container-fluid">
        <!-- Бренд или название сайта -->
          <a class="navbar-brand" href="{% url 'posts:index' %}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span><span style="color:dark">tube</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
          </button>
      <!-- Основная часть меню -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-nav me-auto mb-2 mb-lg-0">
          {% with request.resolver_match.view_name as view_name %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:author' %}active{% endif %}"
            href="{% url 'about:author' %}"> Об авторе </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:tech' %}active{% endif %}"
            href="{% url 'about:tech' %}">Технологии</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'posts:post_create' %}active{% endif %}"
            href="{% url 'posts:post_create' %}">Новая запись</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light {% if view_name == 'users:password_change' %}active{% endif %}"
            href="{% url 'users:password_change' %}">Изменить пароль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'users:logout' %}">Выйти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'posts:profile' %}active{% endif %}"
            href="{% url 'posts:profile' user.username %}">
            Пользователь: {{ user.username }} </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'users:signup' %}">Регистрация</a>
          </li>
          {% endif %}
          {% endwith %}
        </ul>
        </div>
      </div>
    </div>
  </nav>
